{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
    "plugins": [
      [
        "babel-plugin-transform-builtin-extend",
        {
          globals: ["Error", "Array"]
        }
      ],
      [
        "transform-react-jsx",
        {
          "pragma": "h"
        }
      ]
    ],
}
